<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Namma Kadai</title>
</head>
<body>
    <div class="navbar">
        <img id="index"src="../static/profile.png" alt="user" class="icon"><h4>{{ username }}</h4>
        <div class="options">
            <ul>
                <li><a id="o0">Cash Balance: Rs. {{ cash_balance }}</a></li>
                <li><a href="/index">Home</a></li>
                <li><a href="/history">Transactions</a></li>
                <li><a href="/purchase">Purchase</a></li>
                <li><a href="/sales">Sales</a></li>
                <li><a href="/storage">Storage</a></li>
                <li><a href="/money">Add Money</a></li>
                <li><a href="/logout">logout</a></li>
            </ul>
        </div>
    </div>
    <h1 style="text-align:center;">NAMMA KADAI</h1>
</body>
</html>
