/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }

  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Navbar styles */
  .navbar {
    background-color: #5865F2;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:40px;
  }
  
  .options ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    
  }
  
  .options a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  /* Transaction History Box styles */
  #ptran, #stran {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  #ptran h3, #stran h3 {
    margin-bottom: 10px;
    color: #5865F2;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #FAE6FA;
  }
  
  tbody tr:nth-child(even) {
    background-color: #FAE6FA;
  }
  
  tbody tr:hover {
    background-color: #FAE6FA;
  }
  
  /* Sales Form Box styles */
  #sbox {
    margin-top: 20px;
    margin-left:300px;
    margin-right:300px;
    height:auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  #sbox h3 {
    margin-bottom: 10px;
    color: #5865F2;
  }
  

#sqty, #srate{
    display: block;
    width: auto;
    height:auto;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
  #sbut {
    background-color: #5865F2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #sbut:hover {
    background-color: #3F4CBF;
  }
  
  /* Purchase Form Box styles */
  #pbox {
    margin-top: 20px;
    margin-left:300px;
    margin-right:300px;
    height:auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  #pbox h1,h3 {
    margin-bottom: 10px;
    color: #5865F2;
  }
  #ps{
    width:195px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
  }
   #pqty, #prate {
    display: block;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #pbut {
    background-color: #5865F2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #pbut:hover {
    background-color: #3F4CBF;
  }
#stbox{
  margin-top: 20px;
  margin-left:300px;
  margin-right:300px;
  height:auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.random-subheading{
  display: block;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;

}
.random-button{
  background-color: #5865F2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#ss{
  width:195px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
}
#mbox{
  margin-top: 20px;
  margin-left:300px;
  margin-right:300px;
  height:auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#mbut{
  background-color: #5865F2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#ambox{
  display: block;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;

}
.icon{
  width:35px;
  height:35px;
}
#index{
  padding:10px 10px 10px 10px;
}
.navbar h4{
  position: absolute;
  left:55px;
}